<form [formGroup]="wordForm" class="create-word-form">
  <mat-dialog-content class="create-word-form-content">
    <h2 class="create-word-form-content__title">
      <span>Add Word</span>
    </h2>
    <mat-form-field>
      <mat-label>Word</mat-label>
      <input
        matInput
        maxlength="50"
        formControlName="word"
      >
      <mat-error *ngIf="wordForm.controls['word'].invalid && (wordForm.controls['word'].touched || wordForm.controls['word'].dirty)">
        Enter Word
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Translate</mat-label>
      <input
        matInput
        maxlength="50"
        formControlName="translate"
      >
      <mat-error *ngIf="wordForm.controls['translate'].invalid && (wordForm.controls['translate'].touched || wordForm.controls['translate'].dirty)">
        Enter Translate
      </mat-error>
    </mat-form-field>
    <div *ngIf="error" class="create-word-form__error">
      <mat-error>{{error}}</mat-error>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="create-word-form-actions">
    <button
      [disabled]="!wordForm.valid"
      mat-raised-button
      color="primary"
      class="create-word-form-actions__button"
      (click)="saveData()"
    >
      Save
    </button>
    <button
      mat-raised-button
      mat-dialog-close
      class="create-word-form-actions__button"
    >
      Close
    </button>
  </mat-dialog-actions>
</form>
