.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-sidenav {
  background-color: var(--primary);
  width: 200px;
}

mat-sidenav-container {
  height: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}
