<div class="page">
  <div class="login-form">
    <h1 class="login-form__title">WordLink</h1>
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input matInput [(ngModel)]="login" maxlength="10">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div class="login-form__error-block" *ngIf="error">
      <mat-error class="login-form__error">{{error}}</mat-error>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="submit()"
      [disabled]="login === '' || password === ''"
    >
      Primary
    </button>
  </div>
</div>

